/* Movie Carousel Container */
.movie-carousel-container {
    width: 100%;
    min-height: 600px;
    padding: 40px 0;
    position: relative;
    overflow: hidden;
    background: radial-gradient(circle at center, rgb(39, 24, 83) 0%, rgb(6, 4, 14) 100%);
}

/* Swiper Overrides */
.movie-swiper {
    width: 100%;
    height: 100%;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 480px;
    display: block;
}

.swiper-pagination-bullet {
    background: #fff;
    opacity: 0.5;
}

.swiper-pagination-bullet-active {
    background: var(--pinkColor, #ce06d4);
    opacity: 1;
}

/* Navigation Customization */
.swiper-button-prev,
.swiper-button-next {
    color: var(--pinkColor, #ce06d4);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}


/* Responsive Design */
@media (max-width: 768px) {
    .movie-carousel-container {
        min-height: 500px;
        padding: 20px 0;
    }

    .swiper-slide {
        width: 240px;
        height: 380px;
    }
}

@media (max-width: 480px) {
    .movie-carousel-container {
        min-height: 450px;
    }

    .swiper-slide {
        width: 200px;
        height: 320px;
    }
}