:root {
  --primary-color: #271853;
  --backColor: rgb(6, 4, 14);
  --lightRedColor: rgb(247, 17, 17);
  --redColor: rgba(141, 7, 59, 0.867);
  --darkRedColor: rgba(59, 2, 2, 0.5);
  --pinkColor: rgb(206, 6, 212);
  --darkPinkColor: rgba(121, 5, 175, 0.603);
  --violetColor: rgba(142, 140, 229, 0.836);
  --darkBlueColor: rgb(1, 7, 63);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--backColor);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.home {
  width: 100%;
  margin: 0;
  padding: 0;
  background: var(--darkBlueColor);
  height: 100%;
}

.titulo.text-center {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 60px;
  color: rgb(227, 226, 223);
  padding-top: 12px;
  padding-bottom: 12px;
  letter-spacing: 2px;
  margin-top: 10rem;
  z-index: 100;
}


.popular,
.enfantiles,
.comedies,
.dramas {
  width: 100%;
  margin: 0;
  padding: 0;
  background: var(--darkBlueColor);
}

.cards {
  background-color: var(--backColor);
  transition: all 0.8s ease;
  min-height: 40rem;
}

/*cards border glowing animation*/
@keyframes glow {
  0% {
    box-shadow: 0 0 5px var(--lightRedColor);
  }

  50% {
    box-shadow: 0 0 15px var(--redColor);
  }

  100% {
    box-shadow: 0 0 5px var(--darkRedColor);
  }
}

.cards:hover {
  animation: glow 2s ease-in-out infinite;
  border-right: 3px solid var(--pinkColor);
  border-bottom: 3px solid var(--darkPinkColor);
  transform: scale(1.01);
  opacity: 0.5;
}

.cards .card-img-top {
  max-height: 25rem;
}

.titles {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 24px;
  letter-spacing: 2px;
  color: rgb(197, 161, 113);
}

.years {
  font-family: Impact;
  font-size: 24px;
  color: rgb(131, 136, 103);
}

.years span {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 24px;
  color: rgb(214, 211, 206);
}

.movie-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 10px;
  background-color: var(--pinkColor);
  color: white;
  border: none;
  padding: 10px 26px;
  border-radius: 12px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  z-index: 100;
}

.scroll-to-top:hover {
  background-color: var(--darkPinkColor);
}

/* Footer styles */
.footer-bg {
  background-color: var(--primary-color);
}

.btn-show-details {
  background-color: var(--redColor);
  color: white;
  border: none;
  padding: 10px 26px;
  border-radius: 12px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  position: relative;
}

.btn-show-details span {
  transition: all 1s ease;
}

.btn-show-details:hover {
  background-color: var(--lightRedColor);
  color: azure;

  span {
    margin-left: 10px;
    transition: all 1s ease;
  }

  span i {
    transform: skew(10deg);
    transition: all 1s ease;
  }
}

/*Make pagination awesome*/
.pagination {
  margin-top: 20px;
}

.pagination button {
  background-color: var(--redColor);
}

.pagination button:hover {
  background-color: var(--lightRedColor);
  scale: 1.06;
}

.pagination button i {
  color: azure;
}

.pagination button.page-link.active {
  background-color: var(--pinkColor);
}

.copyright-bg {
  background-color: var(--backColor);
}



/*medium devices */
@media screen and (max-width: 915px) {
  .titulo.text-center {
    margin-top: 6rem;
  }
}

@media screen and (max-width: 768px) {
  .titulo.text-center {
    margin-top: 12rem;
    font-size: 3rem;
  }
}

/*Mobile*/
@media screen and (max-width: 576px) {
  .titulo.text-center {
    font-size: 2.4rem;
  }

  .cards {
    min-height: 55rem;
  }

  .cards .card-img-top {
    max-height: 40rem;
  }

  .home .card-box {
    min-width: 100%;
  }
}